[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/patrick-rivos/riscv-gnu-toolchain.git
[submodule "glibc"]
	path = glibc
	url = https://sourceware.org/git/glibc.git
