[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/patrick-rivos/riscv-gnu-toolchain.git
[submodule "glibc-cicd"]
	path = glibc-cicd
	url = https://gitlab.com/ewlu/glibc-cicd.git
